<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Git It & Quit It</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/heroic-features.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="dashboard-body">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Git It & Quit It</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/logout">Logout</a>
                    </li>
                    <!-- <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li> -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
      <h3><span class="mega-octicon octicon-git-pull-request"></span>&nbspWelcome, <%= current_user.nickname %>&nbsp</h3>

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
          <h1 id="jumbo-text">This is how we Git things done.</h1>
          <p>
            GIQI takes your most valuable information from Github and lets you
            browse it in an effective, user-friendly format.
          </p>
          <p class="header-tagline">
            Here at GIQI, we take the art of Gitting things done to a whole new level.
          </p>
        </header>

        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h2>Github Snapshot</h2>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-md-6 col-sm-12 hero-feature">
                <div class="thumbnail" id="profile-rep-box">
                    <div class="caption">
                        <h3>Profile</h3>
                    </div>
                    <%= image_tag current_user.image_url, class: "img-circle img-thumbnail home-image" %>
                    <h4 class="name "> <%= link_to current_user.nickname, "https://github.com/#{current_user.nickname}" %> </h4>
                    <h5 class="email"> <%= current_user.email %> </h5>

                    <hr>
                    <h4 class="starred-repo"> Number of starred repos: <span id="starred"><%= current_user.starred_repos.count %></span></h4><br>

                    <h4 class="starred-repo">Followers:
                      <ul>
                        <% current_user.followers.each do |follower| %>
                          <li>
                            <%= link_to follower.login, follower.html_url %>
                          </li>
                        <% end %>
                      </ul>
                    </h4>

                    <h4 class="starred-repo">Following:
                      <ul class="following">
                        <% current_user.followed.each do |followed| %>
                          <li>
                            <%= link_to followed.login, followed.html_url %>
                          </li>
                        <% end %>
                      </ul>
                    </h4>
                </div>
            </div>

            <div class="col-md-6 col-sm-12 hero-feature">
              <div class="thumbnail" id="profile-rep-box">
                <div class="caption">
                  <h3>Repositories</h3>
                </div>
                <h4 class="starred-repo">
                  <ul>
                    <% current_user.repos.each do |repo| %>
                      <li>
                        <%= link_to repo.name, repo.html_url %>
                      </li>
                    <% end %>
                  </ul>
                </h4>
              </div>
            </div>

            <div class="col-md-6 col-sm-12 hero-feature">
              <div class="thumbnail" id="commit-boxes">
                <div class="caption">
                  <h3>My Recent Commits</h3>
                </div>
                <h4 class="starred-repo">
                  <%= link_to current_user.commits[0].repo.name, "http://www.github.com/#{current_user.commits[0].repo.name}" %><br>
                  <%= current_user.commit_dates[0] %> -
                  <%= current_user.commit_messages[0].first %><br><br>

                  <%= link_to current_user.commits[1].repo.name, "http://www.github.com/#{current_user.commits[0].repo.name}" %><br>
                  <%= current_user.commit_dates[1] %> -
                  <%= current_user.commit_messages[1].first %><br><br>

                  <%= link_to current_user.commits[2].repo.name, "http://www.github.com/#{current_user.commits[0].repo.name}" %><br>
                  <%= current_user.commit_dates[2] %> -
                  <%= current_user.commit_messages[2].first %><br><br>

                  <%= link_to current_user.commits[3].repo.name, "http://www.github.com/#{current_user.commits[0].repo.name}" %><br>
                  <%= current_user.commit_dates[3] %> -
                  <%= current_user.commit_messages[3].first %><br><br>

                  <%= link_to current_user.commits[4].repo.name, "http://www.github.com/#{current_user.commits[0].repo.name}" %><br>
                  <%= current_user.commit_dates[4] %> -
                  <%= current_user.commit_messages[4].first %><br>
                </h4>
              </div>
            </div>

            <div class="col-md-6 col-sm-12 hero-feature">
              <div class="thumbnail" id="commit-boxes">
                <div class="caption">
                  <h3>Followed Users' Recent Commits</h3>
                </div>
                <h4 class="starred-repo">
                  <% if current_user.followed[0] %>
                    <%= link_to current_user.followed[0].login, "https://github.com/#{current_user.followed[0].login}" %><br>
                    <%= current_user.followed_commit_dates[0] %> -
                    <%= current_user.followed_commit_messages[0].first %><br><br>
                  <% end %>

                  <% if current_user.followed[1] %>
                    <%= link_to current_user.followed[1].login, "https://github.com/#{current_user.followed[1].login}" %><br>
                    <%= current_user.followed_commit_dates[1] %> -
                    <%= current_user.followed_commit_messages[1].first %><br><br>
                  <% end %>

                  <% if current_user.followed[2] %>
                    <%= link_to current_user.followed[2].login, "https://github.com/#{current_user.followed[2].login}" %><br>
                    <%= current_user.followed_commit_dates[2] %> -
                    <%= current_user.followed_commit_messages[2].first %><br><br>
                  <% end %>

                  <% if current_user.followed[3] %>
                    <%= link_to current_user.followed[3].login, "https://github.com/#{current_user.followed[3].login}" %><br>
                    <%= current_user.followed_commit_dates[3] %> -
                    <%= current_user.followed_commit_messages[3].first %><br><br>
                  <% end %>

                  <% if current_user.followed[4] %>
                    <%= link_to current_user.followed[4].login, "https://github.com/#{current_user.followed[4].login}" %><br>
                    <%= current_user.followed_commit_dates[4] %> -
                    <%= current_user.followed_commit_messages[4].first %><br><br>
                  <% end %>
                </h4>
              </div>
            </div>

            <div class="col-md-6 col-sm-12 hero-feature">
              <div class="thumbnail" id="org-cont-boxes">
                <div class="caption">
                  <h3>My Organizations</h3>
                </div>
                <h4 class="starred-repo">
                  <ul>
                    <% current_user.organizations.each do |organization| %>
                      <li>
                        <%= link_to organization.login, "https://github.com/#{organization.login}" %>
                      </li>
                    <% end %>
                  </ul>
                </h4>
              </div>
            </div>

            <div class="col-md-6 col-sm-12 hero-feature">
              <div class="thumbnail" id="org-cont-boxes">
                <div class="caption">
                  <h3>My Contributions</h3>
                </div>
                <h4 class="starred-repo">
                  Contributions in the past year: <%= current_user.find_scores[0] %><br>
                  Current streak: <%= current_user.find_scores[1] %><br>
                  Longest streak: <%= current_user.find_scores[2] %>
                </h4>
              </div>
            </div>

        </div>
        <!-- /.row -->

        <hr>


        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; GIQI, Inc. 2015</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
</body>

</html>
